# Firebase Web API Config (for REST API authentication)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# Firebase Database URL (for Realtime Database if needed)
FIREBASE_DATABASE_URL=

# Nedarim Plus Payement env
NEDARIM_MOSAD_ID=
NEDARIM_API_VALID=
NEDARIM_CALLBACK_URL=
